{% extends "base.html" %}
{% load humanize %}
{% block doctitle %}Requests | {{ block.super }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for request in object_list %}
            <tr>
              <td>{{ request.title }}</td>
              <td>{{ request.get_status_display }}</td>
              <td>{{ request.created_at }}</td>
              <td>
                <a href="{% url "request:detail" pk=request.pk %}" class="btn btn-primary">Detail</a>
                {% if request.status == 3 %}
                  <form action="{% url "request:update" pk=request.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Restore"/>
                  </form>
                {% endif%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if object_list|length == 0 %}
        <small class="text-muted">Not available</small>
      {% endif %}
      {% block pagination %}
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
      {% endblock %}
      <div class="row">
        <div class="col">
          <p class="text">Do you want to create a request?
            <a href="{% url "request:create" %}">Create Request</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}